<label for="toggle-main-menu" id="toggle-main-menu-button"><span>Menu</span></label>

<nav class="main">

	<ul>
		{% assign sorted_pages = site.pages | sort:"order" %}
		
		{% for item in sorted_pages %}
			{% if item.order %}
			<li{% if item.url == page.url %} class="current-page"{% endif %}>
				<a href="{{ item.url }}">{{ item.title }}</a>

				<ul>
					{% for item in sorted_pages %}
						{% if item.order %}
						<li>
							<a href="{{ item.url }}">{{ item.title }}</a>

							<ul>
								{% for item in sorted_pages %}
									{% if item.order %}
									<li>
										<a href="{{ item.url }}">{{ item.title }}</a>

										<ul>
											{% for item in sorted_pages %}
												{% if item.order %}
												<li>
													<a href="{{ item.url }}">{{ item.title }}</a>

												</li>
												{% endif %}
											{% endfor %}
										</ul>
													
									</li>
									{% endif %}
								{% endfor %}
							</ul>
										
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% endif %}
		{% endfor %}
	</ul>

</nav>
