.gallery {
	padding: 0;
	margin: 0 0 2rem 0;

	&:after {
		display: block;
		content: '';
		clear: both;
	}

	li, a, span, img {
		display: block;
	}

	img {
		width: 100%;
		height: auto;
	}

	li {
		list-style: none outside;
		width: 30%;
		float: left;
		margin-bottom: 5%;

		&:nth-child(3n-1) {
			margin-left: 5%;
			margin-right: 5%;
		}
	}

	a {
		border: 5px solid #000;
		padding: 1rem;
		box-shadow: 0 0 1rem 0.2em rgba(black, 0.25);
	}

	span {
		padding-top: 100%;
		position: relative;
		overflow: hidden;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			box-shadow: 0 0 0.3rem 0 rgba(black, 0.5) inset;
			background: rgba(black, 0.3);
			transition: background 0.3s ease-in-out;
		}

		&:hover:after {
			background: rgba(black, 0);
		}
	}

}
