<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">	
		<link rel="stylesheet" href="/css/site.css" type="text/css" />
	</head>
	<body>

		<input type="checkbox" name="toggle-main-menu" id="toggle-main-menu" />
		<header>
			<h1>{{ site.title }}</h1>
			<p>{{ site.description }}</p>

			{% include navigation.html %}
			
		</header>

		<h1>{{ page.title }}</h1>

		{{ content }}

		<footer>
		
		</footer>
		
	</body>
</html>
