<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">	
		<link rel="stylesheet" href="/css/site.css" type="text/css" />
	</head>
	<body>

		<input type="checkbox" name="toggle-main-menu" id="toggle-main-menu" />
		<header>

			<h1><a href="/">{{ site.title }}</a></h1>
			<p>{{ site.description }}</p>

			{% include navigation.html %}
			
		</header>

		<div class="site-content">

			<main class="site-main">
				{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
				{{ content }}
			</main>

			<aside class="site-sidebar">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praetereo multos, in bis doctum hominem et suavem, Hieronymum, quem iam cur Peripateticum appellem nescio. Quid enim ab antiquis ex eo genere, quod ad disserendum valet, praetermissum est? Ita fit beatae vitae domina fortuna, quam Epicurus ait exiguam intervenire sapienti. Negat esse eam, inquit, propter se expetendam.</p>
			</aside>

		</div>

		<footer>
			<p>The HTML Course &copy; All rights reseved</p> 
		</footer>
		
	</body>
</html>
